<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <title>amis demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="stylesheet" href="../static/sdk.css" />
    <link rel="stylesheet" href="../static/helper.css" />
    <link rel="stylesheet" href="../static/iconfont.css" />
    <!-- 这是默认主题所需的，如果是其他主题则不需要 -->
    <!-- 从 1.1.0 开始 sdk.css 将不支持 IE 11，如果要支持 IE11 请引用这个 css，并把前面那个删了 -->
    <!-- <link rel="stylesheet" href="sdk-ie11.css" /> -->
    <!-- 不过 amis 开发团队几乎没测试过 IE 11 下的效果，所以可能有细节功能用不了，如果发现请报 issue -->
    <style>
      html,
      body,
      .app-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="root" class="app-wrapper"></div>
    <script src="../static/sdk.js"></script>
    <script type="text/javascript">
      (function () {
        let amis = amisRequire('amis/embed');
        // 通过替换下面这个配置来生成不同页面
        let amisJSON = {
  "type": "page",
  "title": "定义Excel导入税局抵扣清单规则",
  "body": [
    {
      "type": "form",
      "title": "",
      "body": [
        {
          "type": "input-text",
          "label": "从第几行开始导入",
          "name": "start",
          "id": "u:1085a7b56228",
          "mode": "horizontal"
        },
        {
          "type": "input-text",
          "label": "导入的总列数",
          "name": "total"
        },
        {
          "type": "input-table",
          "name": "config",
          "label": "选择导入的列",
          "columns": [
            {
              "label": "导入Excel获取的对应列的标题",
              "name": "title",
              "quickEdit": false,
              "type": "input-text",
              "placeholder": "-"
            },
            {
              "label": "从Excel的第几列导入",
              "name": "from",
              "quickEdit": {
                "mode": "popOver"
              },
              "type": "input-text",
              "placeholder": "-"
            }
          ],
          "strictMode": true,
          "id": "u:6ebe76a79754",
          "placeholder": "-",
          "addable": true
        }
      ],
      "api": "http://localhost:8080/taxRule",
      "mode": "horizontal",
      "id": "u:83e4a5a25241",
      "initApi": {
        "method": "get",
        "url": "http://localhost:8080/taxRule"
      },
      "submitText": "保存",
      "wrapWithPanel": true,
      "autoFocus": false
    }
  ]
};
        let amisScoped = amis.embed('#root', amisJSON);
      })();
    </script>
  </body>
</html>